body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.converter {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.converter label, .converter select, .converter input {
    display: block;
    margin-bottom: 10px;
}

.converter button {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.converter button:hover {
    background-color: #2980b9;
}

p {
    margin-top: 20px;
}

#historical-rates-container {
    margin-top: 20px;
}

#favorite-currency-pairs {
    margin-top: 20px;
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

button:hover {
    background-color: #0056b3;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin for better alignment */
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* Ensure buttons are spaced correctly */
}

li button {
    width: auto; /* Adjust button width */
    display: inline-block;
    background-color: green;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 5px 10px;
    margin: 0; /* Reset margin */
    text-align: center;
    flex: 1; /* Make buttons flexible to occupy equal space */
    margin-right: 5px; /* Space between buttons */
}

li button:last-child {
    background-color: red;
    margin-right: 0; /* Remove margin for the last button */
}

li button:hover {
    background-color: #007bff;
    color: white;
}
